## Import Libraries

In [3]:
import nltk

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
# takes very long to download below
nltk.download('all')

[nltk_data] Downloading collection 'all'
[nltk_data]    |
[nltk_data]    | Downloading package abc to
[nltk_data]    |     C:\Users\NICKCLAUS\AppData\Roaming\nltk_data...
[nltk_data]    |   Package abc is already up-to-date!
[nltk_data]    | Downloading package alpino to
[nltk_data]    |     C:\Users\NICKCLAUS\AppData\Roaming\nltk_data...
[nltk_data]    |   Package alpino is already up-to-date!
[nltk_data]    | Downloading package biocreative_ppi to
[nltk_data]    |     C:\Users\NICKCLAUS\AppData\Roaming\nltk_data...
[nltk_data]    |   Package biocreative_ppi is already up-to-date!
[nltk_data]    | Downloading package brown to
[nltk_data]    |     C:\Users\NICKCLAUS\AppData\Roaming\nltk_data...
[nltk_data]    |   Package brown is already up-to-date!
[nltk_data]    | Downloading package brown_tei to
[nltk_data]    |     C:\Users\NICKCLAUS\AppData\Roaming\nltk_data...
[nltk_data]    |   Package brown_tei is already up-to-date!
[nltk_data]    | Downloading package cess_cat to
[nltk_data]    |     C:\Users\NICKCLAUS\AppData\Roaming\nltk_data...
[nltk_data]    |   Package cess_cat is already up-to-date!
[nltk_data]    | Downloading package cess_esp to
[nltk_data]    |     C:\Users\NICKCLAUS\AppData\Roaming\nltk_data...
[nltk_data]    |   Package cess_esp is already up-to-date!
[nltk_data]    | Downloading package chat80 to
[nltk_data]    |     C:\Users\NICKCLAUS\AppData\Roaming\nltk_data...
[nltk_data]    |   Package chat80 is already up-to-date!
[nltk_data]    | Downloading package city_database to
[nltk_data]    |     C:\Users\NICKCLAUS\AppData\Roaming\nltk_data...
[nltk_data]    |   Package city_database is already up-to-date!
[nltk_data]    | Downloading package cmudict to
[nltk_data]    |     C:\Users\NICKCLAUS\AppData\Roaming\nltk_data...
[nltk_data]    |   Package cmudict is already up-to-date!
[nltk_data]    | Downloading package comparative_sentences to
[nltk_data]    |     C:\Users\NICKCLAUS\AppData\Roaming\nltk_data...
[nltk_data]    |   Package comparative_sentences is already up-to-
[nltk_data]    |       date!
[nltk_data]    | Downloading package comtrans to
[nltk_data]    |     C:\Users\NICKCLAUS\AppData\Roaming\nltk_data...
[nltk_data]    |   Package comtrans is already up-to-date!
[nltk_data]    | Downloading package conll2000 to
[nltk_data]    |     C:\Users\NICKCLAUS\AppData\Roaming\nltk_data...
[nltk_data]    |   Package conll2000 is already up-to-date!
[nltk_data]    | Downloading package conll2002 to
[nltk_data]    |     C:\Users\NICKCLAUS\AppData\Roaming\nltk_data...
[nltk_data]    |   Package conll2002 is already up-to-date!
[nltk_data]    | Downloading package conll2007 to
[nltk_data]    |     C:\Users\NICKCLAUS\AppData\Roaming\nltk_data...
[nltk_data]    |   Package conll2007 is already up-to-date!
[nltk_data]    | Downloading package crubadan to
[nltk_data]    |     C:\Users\NICKCLAUS\AppData\Roaming\nltk_data...
[nltk_data]    |   Package crubadan is already up-to-date!
[nltk_data]    | Downloading package dependency_treebank to
[nltk_data]    |     C:\Users\NICKCLAUS\AppData\Roaming\nltk_data...
[nltk_data]    |   Package dependency_treebank is already up-to-date!
[nltk_data]    | Downloading package dolch to
[nltk_data]    |     C:\Users\NICKCLAUS\AppData\Roaming\nltk_data...
[nltk_data]    |   Package dolch is already up-to-date!
[nltk_data]    | Downloading package europarl_raw to
[nltk_data]    |     C:\Users\NICKCLAUS\AppData\Roaming\nltk_data...
[nltk_data]    |   Package europarl_raw is already up-to-date!
[nltk_data]    | Downloading package floresta to
[nltk_data]    |     C:\Users\NICKCLAUS\AppData\Roaming\nltk_data...
[nltk_data]    |   Package floresta is already up-to-date!
[nltk_data]    | Downloading package framenet_v15 to
[nltk_data]    |     C:\Users\NICKCLAUS\AppData\Roaming\nltk_data...
[nltk_data]    |   Package framenet_v15 is already up-to-date!
[nltk_data]    | Downloading package framenet_v17 to
[nltk_data]    |     C:\Users\NICKCLAUS\AppData\Roaming\nltk_data...
[nltk_data]    |   Package framenet_v17 is already up-to-date!
[nltk_data]    | Downloading package gazetteers to
[nltk_data]    |     C:\Users\NICKCLAUS\AppData\Roaming\nltk_data...
[nltk_data]    |   Package gazetteers is already up-to-date!
[nltk_data]    | Downloading package genesis to
[nltk_data]    |     C:\Users\NICKCLAUS\AppData\Roaming\nltk_data...
[nltk_data]    |   Package genesis is already up-to-date!
[nltk_data]    | Downloading package gutenberg to
[nltk_data]    |     C:\Users\NICKCLAUS\AppData\Roaming\nltk_data...
[nltk_data]    |   Package gutenberg is already up-to-date!
[nltk_data]    | Downloading package ieer to
[nltk_data]    |     C:\Users\NICKCLAUS\AppData\Roaming\nltk_data...
[nltk_data]    |   Package ieer is already up-to-date!
[nltk_data]    | Downloading package inaugural to
[nltk_data]    |     C:\Users\NICKCLAUS\AppData\Roaming\nltk_data...
[nltk_data]    |   Package inaugural is already up-to-date!
[nltk_data]    | Downloading package indian to
[nltk_data]    |     C:\Users\NICKCLAUS\AppData\Roaming\nltk_data...
[nltk_data]    |   Package indian is already up-to-date!
[nltk_data]    | Downloading package jeita to
[nltk_data]    |     C:\Users\NICKCLAUS\AppData\Roaming\nltk_data...
[nltk_data]    |   Package jeita is already up-to-date!
[nltk_data]    | Downloading package kimmo to
[nltk_data]    |     C:\Users\NICKCLAUS\AppData\Roaming\nltk_data...
[nltk_data]    |   Package kimmo is already up-to-date!
[nltk_data]    | Downloading package knbc to
[nltk_data]    |     C:\Users\NICKCLAUS\AppData\Roaming\nltk_data...
[nltk_data]    |   Package knbc is already up-to-date!
[nltk_data]    | Downloading package lin_thesaurus to
[nltk_data]    |     C:\Users\NICKCLAUS\AppData\Roaming\nltk_data...
[nltk_data]    |   Package lin_thesaurus is already up-to-date!
[nltk_data]    | Downloading package mac_morpho to
[nltk_data]    |     C:\Users\NICKCLAUS\AppData\Roaming\nltk_data...
[nltk_data]    |   Package mac_morpho is already up-to-date!
[nltk_data]    | Downloading package machado to
[nltk_data]    |     C:\Users\NICKCLAUS\AppData\Roaming\nltk_data...
[nltk_data]    |   Package machado is already up-to-date!
[nltk_data]    | Downloading package masc_tagged to
[nltk_data]    |     C:\Users\NICKCLAUS\AppData\Roaming\nltk_data...
[nltk_data]    |   Package masc_tagged is already up-to-date!
[nltk_data]    | Downloading package moses_sample to
[nltk_data]    |     C:\Users\NICKCLAUS\AppData\Roaming\nltk_data...
[nltk_data]    |   Package moses_sample is already up-to-date!
[nltk_data]    | Downloading package movie_reviews to
[nltk_data]    |     C:\Users\NICKCLAUS\AppData\Roaming\nltk_data...
[nltk_data]    |   Package movie_reviews is already up-to-date!
[nltk_data]    | Downloading package names to
[nltk_data]    |     C:\Users\NICKCLAUS\AppData\Roaming\nltk_data...
[nltk_data]    |   Package names is already up-to-date!
[nltk_data]    | Downloading package nombank.1.0 to
[nltk_data]    |     C:\Users\NICKCLAUS\AppData\Roaming\nltk_data...
[nltk_data]    |   Package nombank.1.0 is already up-to-date!
[nltk_data]    | Downloading package nps_chat to
[nltk_data]    |     C:\Users\NICKCLAUS\AppData\Roaming\nltk_data...
[nltk_data]    |   Package nps_chat is already up-to-date!
[nltk_data]    | Downloading package omw to
[nltk_data]    |     C:\Users\NICKCLAUS\AppData\Roaming\nltk_data...
[nltk_data]    |   Package omw is already up-to-date!
[nltk_data]    | Downloading package opinion_lexicon to
[nltk_data]    |     C:\Users\NICKCLAUS\AppData\Roaming\nltk_data...
[nltk_data]    |   Package opinion_lexicon is already up-to-date!
[nltk_data]    | Downloading package paradigms to
[nltk_data]    |     C:\Users\NICKCLAUS\AppData\Roaming\nltk_data...
[nltk_data]    |   Package paradigms is already up-to-date!
[nltk_data]    | Downloading package pil to
[nltk_data]    |     C:\Users\NICKCLAUS\AppData\Roaming\nltk_data...
[nltk_data]    |   Package pil is already up-to-date!
[nltk_data]    | Downloading package pl196x to
[nltk_data]    |     C:\Users\NICKCLAUS\AppData\Roaming\nltk_data...
[nltk_data]    |   Package pl196x is already up-to-date!
[nltk_data]    | Downloading package ppattach to
[nltk_data]    |     C:\Users\NICKCLAUS\AppData\Roaming\nltk_data...
[nltk_data]    |   Package ppattach is already up-to-date!
[nltk_data]    | Downloading package problem_reports to
[nltk_data]    |     C:\Users\NICKCLAUS\AppData\Roaming\nltk_data...
[nltk_data]    |   Package problem_reports is already up-to-date!
[nltk_data]    | Downloading package propbank to
[nltk_data]    |     C:\Users\NICKCLAUS\AppData\Roaming\nltk_data...
[nltk_data]    |   Package propbank is already up-to-date!
[nltk_data]    | Downloading package ptb to
[nltk_data]    |     C:\Users\NICKCLAUS\AppData\Roaming\nltk_data...
[nltk_data]    |   Package ptb is already up-to-date!
[nltk_data]    | Downloading package product_reviews_1 to
[nltk_data]    |     C:\Users\NICKCLAUS\AppData\Roaming\nltk_data...
[nltk_data]    |   Package product_reviews_1 is already up-to-date!
[nltk_data]    | Downloading package product_reviews_2 to
[nltk_data]    |     C:\Users\NICKCLAUS\AppData\Roaming\nltk_data...
[nltk_data]    |   Package product_reviews_2 is already up-to-date!
[nltk_data]    | Downloading package pros_cons to
[nltk_data]    |     C:\Users\NICKCLAUS\AppData\Roaming\nltk_data...
[nltk_data]    |   Package pros_cons is already up-to-date!
[nltk_data]    | Downloading package qc to
[nltk_data]    |     C:\Users\NICKCLAUS\AppData\Roaming\nltk_data...
[nltk_data]    |   Package qc is already up-to-date!
[nltk_data]    | Downloading package reuters to
[nltk_data]    |     C:\Users\NICKCLAUS\AppData\Roaming\nltk_data...
[nltk_data]    |   Package reuters is already up-to-date!
[nltk_data]    | Downloading package rte to
[nltk_data]    |     C:\Users\NICKCLAUS\AppData\Roaming\nltk_data...
[nltk_data]    |   Package rte is already up-to-date!
[nltk_data]    | Downloading package semcor to
[nltk_data]    |     C:\Users\NICKCLAUS\AppData\Roaming\nltk_data...
[nltk_data]    |   Package semcor is already up-to-date!
[nltk_data]    | Downloading package senseval to
[nltk_data]    |     C:\Users\NICKCLAUS\AppData\Roaming\nltk_data...
[nltk_data]    |   Package senseval is already up-to-date!
[nltk_data]    | Downloading package sentiwordnet to
[nltk_data]    |     C:\Users\NICKCLAUS\AppData\Roaming\nltk_data...
[nltk_data]    |   Package sentiwordnet is already up-to-date!
[nltk_data]    | Downloading package sentence_polarity to
[nltk_data]    |     C:\Users\NICKCLAUS\AppData\Roaming\nltk_data...
[nltk_data]    |   Package sentence_polarity is already up-to-date!
[nltk_data]    | Downloading package shakespeare to
[nltk_data]    |     C:\Users\NICKCLAUS\AppData\Roaming\nltk_data...
[nltk_data]    |   Package shakespeare is already up-to-date!
[nltk_data]    | Downloading package sinica_treebank to
[nltk_data]    |     C:\Users\NICKCLAUS\AppData\Roaming\nltk_data...
[nltk_data]    |   Package sinica_treebank is already up-to-date!
[nltk_data]    | Downloading package smultron to
[nltk_data]    |     C:\Users\NICKCLAUS\AppData\Roaming\nltk_data...
[nltk_data]    |   Package smultron is already up-to-date!
[nltk_data]    | Downloading package state_union to
[nltk_data]    |     C:\Users\NICKCLAUS\AppData\Roaming\nltk_data...
[nltk_data]    |   Package state_union is already up-to-date!
[nltk_data]    | Downloading package stopwords to
[nltk_data]    |     C:\Users\NICKCLAUS\AppData\Roaming\nltk_data...
[nltk_data]    |   Package stopwords is already up-to-date!
[nltk_data]    | Downloading package subjectivity to
[nltk_data]    |     C:\Users\NICKCLAUS\AppData\Roaming\nltk_data...
[nltk_data]    |   Package subjectivity is already up-to-date!
[nltk_data]    | Downloading package swadesh to
[nltk_data]    |     C:\Users\NICKCLAUS\AppData\Roaming\nltk_data...
[nltk_data]    |   Package swadesh is already up-to-date!
[nltk_data]    | Downloading package switchboard to
[nltk_data]    |     C:\Users\NICKCLAUS\AppData\Roaming\nltk_data...
[nltk_data]    |   Package switchboard is already up-to-date!
[nltk_data]    | Downloading package timit to
[nltk_data]    |     C:\Users\NICKCLAUS\AppData\Roaming\nltk_data...
[nltk_data]    |   Package timit is already up-to-date!
[nltk_data]    | Downloading package toolbox to
[nltk_data]    |     C:\Users\NICKCLAUS\AppData\Roaming\nltk_data...
[nltk_data]    |   Package toolbox is already up-to-date!
[nltk_data]    | Downloading package treebank to
[nltk_data]    |     C:\Users\NICKCLAUS\AppData\Roaming\nltk_data...
[nltk_data]    |   Package treebank is already up-to-date!
[nltk_data]    | Downloading package twitter_samples to
[nltk_data]    |     C:\Users\NICKCLAUS\AppData\Roaming\nltk_data...
[nltk_data]    |   Package twitter_samples is already up-to-date!
[nltk_data]    | Downloading package udhr to
[nltk_data]    |     C:\Users\NICKCLAUS\AppData\Roaming\nltk_data...
[nltk_data]    |   Package udhr is already up-to-date!
[nltk_data]    | Downloading package udhr2 to
[nltk_data]    |     C:\Users\NICKCLAUS\AppData\Roaming\nltk_data...
[nltk_data]    |   Package udhr2 is already up-to-date!
[nltk_data]    | Downloading package unicode_samples to
[nltk_data]    |     C:\Users\NICKCLAUS\AppData\Roaming\nltk_data...
[nltk_data]    |   Package unicode_samples is already up-to-date!
[nltk_data]    | Downloading package universal_treebanks_v20 to
[nltk_data]    |     C:\Users\NICKCLAUS\AppData\Roaming\nltk_data...
[nltk_data]    |   Package universal_treebanks_v20 is already up-to-
[nltk_data]    |       date!
[nltk_data]    | Downloading package verbnet to
[nltk_data]    |     C:\Users\NICKCLAUS\AppData\Roaming\nltk_data...
[nltk_data]    |   Package verbnet is already up-to-date!
[nltk_data]    | Downloading package verbnet3 to
[nltk_data]    |     C:\Users\NICKCLAUS\AppData\Roaming\nltk_data...
[nltk_data]    |   Package verbnet3 is already up-to-date!
[nltk_data]    | Downloading package webtext to
[nltk_data]    |     C:\Users\NICKCLAUS\AppData\Roaming\nltk_data...
[nltk_data]    |   Package webtext is already up-to-date!
[nltk_data]    | Downloading package wordnet to
[nltk_data]    |     C:\Users\NICKCLAUS\AppData\Roaming\nltk_data...
[nltk_data]    |   Package wordnet is already up-to-date!
[nltk_data]    | Downloading package wordnet_ic to
[nltk_data]    |     C:\Users\NICKCLAUS\AppData\Roaming\nltk_data...
[nltk_data]    |   Package wordnet_ic is already up-to-date!
[nltk_data]    | Downloading package words to
[nltk_data]    |     C:\Users\NICKCLAUS\AppData\Roaming\nltk_data...
[nltk_data]    |   Package words is already up-to-date!
[nltk_data]    | Downloading package ycoe to
[nltk_data]    |     C:\Users\NICKCLAUS\AppData\Roaming\nltk_data...
[nltk_data]    |   Package ycoe is already up-to-date!
[nltk_data]    | Downloading package rslp to
[nltk_data]    |     C:\Users\NICKCLAUS\AppData\Roaming\nltk_data...
[nltk_data]    |   Package rslp is already up-to-date!
[nltk_data]    | Downloading package maxent_treebank_pos_tagger to
[nltk_data]    |     C:\Users\NICKCLAUS\AppData\Roaming\nltk_data...
[nltk_data]    |   Package maxent_treebank_pos_tagger is already up-
[nltk_data]    |       to-date!
[nltk_data]    | Downloading package universal_tagset to
[nltk_data]    |     C:\Users\NICKCLAUS\AppData\Roaming\nltk_data...
[nltk_data]    |   Package universal_tagset is already up-to-date!
[nltk_data]    | Downloading package maxent_ne_chunker to
[nltk_data]    |     C:\Users\NICKCLAUS\AppData\Roaming\nltk_data...
[nltk_data]    |   Package maxent_ne_chunker is already up-to-date!
[nltk_data]    | Downloading package punkt to
[nltk_data]    |     C:\Users\NICKCLAUS\AppData\Roaming\nltk_data...
[nltk_data]    |   Package punkt is already up-to-date!
[nltk_data]    | Downloading package book_grammars to
[nltk_data]    |     C:\Users\NICKCLAUS\AppData\Roaming\nltk_data...
[nltk_data]    |   Package book_grammars is already up-to-date!
[nltk_data]    | Downloading package sample_grammars to
[nltk_data]    |     C:\Users\NICKCLAUS\AppData\Roaming\nltk_data...
[nltk_data]    |   Package sample_grammars is already up-to-date!
[nltk_data]    | Downloading package spanish_grammars to
[nltk_data]    |     C:\Users\NICKCLAUS\AppData\Roaming\nltk_data...
[nltk_data]    |   Package spanish_grammars is already up-to-date!
[nltk_data]    | Downloading package basque_grammars to
[nltk_data]    |     C:\Users\NICKCLAUS\AppData\Roaming\nltk_data...
[nltk_data]    |   Package basque_grammars is already up-to-date!
[nltk_data]    | Downloading package large_grammars to
[nltk_data]    |     C:\Users\NICKCLAUS\AppData\Roaming\nltk_data...
[nltk_data]    |   Package large_grammars is already up-to-date!
[nltk_data]    | Downloading package tagsets to
[nltk_data]    |     C:\Users\NICKCLAUS\AppData\Roaming\nltk_data...
[nltk_data]    |   Package tagsets is already up-to-date!
[nltk_data]    | Downloading package snowball_data to
[nltk_data]    |     C:\Users\NICKCLAUS\AppData\Roaming\nltk_data...
[nltk_data]    |   Package snowball_data is already up-to-date!
[nltk_data]    | Downloading package bllip_wsj_no_aux to
[nltk_data]    |     C:\Users\NICKCLAUS\AppData\Roaming\nltk_data...
[nltk_data]    |   Package bllip_wsj_no_aux is already up-to-date!
[nltk_data]    | Downloading package word2vec_sample to
[nltk_data]    |     C:\Users\NICKCLAUS\AppData\Roaming\nltk_data...
[nltk_data]    |   Package word2vec_sample is already up-to-date!
[nltk_data]    | Downloading package panlex_swadesh to
[nltk_data]    |     C:\Users\NICKCLAUS\AppData\Roaming\nltk_data...
[nltk_data]    |   Package panlex_swadesh is already up-to-date!
[nltk_data]    | Downloading package mte_teip5 to
[nltk_data]    |     C:\Users\NICKCLAUS\AppData\Roaming\nltk_data...
[nltk_data]    |   Package mte_teip5 is already up-to-date!
[nltk_data]    | Downloading package averaged_perceptron_tagger to
[nltk_data]    |     C:\Users\NICKCLAUS\AppData\Roaming\nltk_data...
[nltk_data]    |   Package averaged_perceptron_tagger is already up-
[nltk_data]    |       to-date!
[nltk_data]    | Downloading package averaged_perceptron_tagger_ru to
[nltk_data]    |     C:\Users\NICKCLAUS\AppData\Roaming\nltk_data...
[nltk_data]    |   Package averaged_perceptron_tagger_ru is already
[nltk_data]    |       up-to-date!
[nltk_data]    | Downloading package perluniprops to
[nltk_data]    |     C:\Users\NICKCLAUS\AppData\Roaming\nltk_data...
[nltk_data]    |   Package perluniprops is already up-to-date!
[nltk_data]    | Downloading package nonbreaking_prefixes to
[nltk_data]    |     C:\Users\NICKCLAUS\AppData\Roaming\nltk_data...
[nltk_data]    |   Package nonbreaking_prefixes is already up-to-date!
[nltk_data]    | Downloading package vader_lexicon to
[nltk_data]    |     C:\Users\NICKCLAUS\AppData\Roaming\nltk_data...
[nltk_data]    |   Package vader_lexicon is already up-to-date!
[nltk_data]    | Downloading package porter_test to
[nltk_data]    |     C:\Users\NICKCLAUS\AppData\Roaming\nltk_data...
[nltk_data]    |   Package porter_test is already up-to-date!
[nltk_data]    | Downloading package wmt15_eval to
[nltk_data]    |     C:\Users\NICKCLAUS\AppData\Roaming\nltk_data...
[nltk_data]    |   Package wmt15_eval is already up-to-date!
[nltk_data]    | Downloading package mwa_ppdb to
[nltk_data]    |     C:\Users\NICKCLAUS\AppData\Roaming\nltk_data...
[nltk_data]    |   Package mwa_ppdb is already up-to-date!
[nltk_data]    |
[nltk_data]  Done downloading collection all

True

In [5]:
import sqlalchemy as sa
from sqlalchemy import create_engine
from sqlalchemy import Table, Column, Integer, String, MetaData
from sklearn.model_selection import train_test_split

### CONNECT TO DATA SQLALCHEMY

In [6]:
Username = 'admin'
Password = 'amazing_people'
Host = 'alphacode-explore.ccwgqdqrrmvt.eu-west-1.rds.amazonaws.com'
Port = '1433'
Database = 'Michael'

In [7]:
connection = create_engine(
    'mssql+pymssql://' +
    Username + ':' + Password + '@' + Host + ':' + Port + '/' + Database
)

### Dataframe

In [8]:
sql_query = "Select * from Bank_Statment_Labelling"

In [9]:
df = pd.read_sql_query(sql_query, connection)

In [10]:
df.head()

,Transaction_Date,Posting_Date,Description,Debits,Credits,Category,Column_7,CATEGORIES,Column_9
0,2020/02/10,2020/02/10,MTN DATA BUNDLES,499,None,COMMUNICATION,None,HOME,None
1,2020/02/08,2020/02/09,APPLE.COM/BILL CORK IE,74.99,None,ENTERTAINMENT & EAT OUT,None,FOOD,None
2,2020/02/07,2020/02/09,PARKHURST HARDWARE RE PARKHURST ZA,75,None,HOME,None,TRANSPORT,None
3,2020/02/07,2020/02/08,SEATTLE RENNIES HOUSE JOHANNESBURG ZA,31.5,None,ENTERTAINMENT & EAT OUT,None,LIFE AND HEALTH,None
4,2020/02/07,2020/02/08,FLM RENNIE HOUSE EATER BRAAMFONTEIN ZA,29.98,None,ENTERTAINMENT & EAT OUT,None,COMMUNICATION,None

### Exploratory Data Anaysis

In [11]:
# Lables
y = df['Category']

# Features
X = df.drop(['Category'], axis=1)

X

,Transaction_Date,Posting_Date,Description,Debits,Credits,Column_7,CATEGORIES,Column_9
0,2020/02/10,2020/02/10,MTN DATA BUNDLES,499,None,None,HOME,None
1,2020/02/08,2020/02/09,APPLE.COM/BILL CORK IE,74.99,None,None,FOOD,None
2,2020/02/07,2020/02/09,PARKHURST HARDWARE RE PARKHURST ZA,75,None,None,TRANSPORT,None
3,2020/02/07,2020/02/08,SEATTLE RENNIES HOUSE JOHANNESBURG ZA,31.5,None,None,LIFE AND HEALTH,None
4,2020/02/07,2020/02/08,FLM RENNIE HOUSE EATER BRAAMFONTEIN ZA,29.98,None,None,COMMUNICATION,None
5,2020/02/06,2020/02/07,FLM RENNIE HOUSE EATER BRAAMFONTEIN ZA,340.25,None,None,ENTERTAINMENT & EAT OUT,None
6,2020/02/06,2020/02/07,FLM RENNIE HOUSE EATER BRAAMFONTEIN ZA,69.99,None,None,SHORT-TERM CREDIT,None
7,2020/02/06,2020/02/07,FLM RENNIE HOUSE EATER BRAAMFONTEIN ZA,31.97,None,None,EDUCATION,None
8,2020/02/05,2020/02/06,SEATTLE RENNIES HOUSE JOHANNESBURG ZA,31.5,None,None,GIFTS & DONATIONS,None
9,2020/02/05,2020/02/06,FLM RENNIE HOUSE EATER BRAAMFONTEIN ZA,34.9,None,None,SAVING AND INVESTMENT,None
10,2020/02/01,2020/02/06,PROPERTY24 RONDEBOSCH ZA,395,None,None,OTHER,None
11,2020/02/04,2020/02/05,SEATTLE RENNIES HOUSE JOHANNESBURG ZA,31.5,None,None,None,None
12,2020/02/04,2020/02/05,FLM RENNIE HOUSE EATER BRAAMFONTEIN ZA,44.85,None,None,None,None
13,2020/02/04,2020/02/05,FLM RENNIE HOUSE EATER BRAAMFONTEIN ZA,34.9,None,None,None,None
14,2020/02/05,2020/02/05,INVESTECPB 346967001 04798806,6150,None,None,None,None
15,2020/02/03,2020/02/04,APPLE.COM/BILL ITUNES.COM IE,319.99,None,None,None,None
16,2020/02/01,2020/02/04,BLOOM COFFEE STUDIO - CAPE TOWN ZA,110,None,None,None,None
17,2020/02/03,2020/02/04,SEATTLE RENNIES HOUSE JOHANNESBURG ZA,31.5,None,None,None,None
18,2020/02/03,2020/02/04,FLM RENNIE HOUSE EATER BRAAMFONTEIN ZA,84.99,None,None,None,None
19,2020/02/03,2020/02/03,6728726,None,6500,None,None,None
20,2020/02/03,2020/02/03,INVESTECPB 346582001 04772632,866.02,None,None,None,None
21,2020/02/03,2020/02/03,ADMED 2131444ADMED,224,None,None,None,None
22,2020/02/03,2020/02/03,TAXASSIST 92656895 NETCASH,170,None,None,None,None
23,2020/01/31,2020/02/01,SEATTLE RENNIES HOUSE JOHANNESBURG ZA,31.5,None,None,None,None
24,2020/01/31,2020/02/01,FLM RENNIE HOUSE EATER BRAAMFONTEIN ZA,34.9,None,None,None,None
25,2020/01/31,2020/02/01,FLM RENNIE HOUSE EATER BRAAMFONTEIN ZA,59.8,None,None,None,None
26,2020/01/30,2020/02/01,BOLTON RD COLLECTION PARKVIEW ZA,120,None,None,None,None
27,2020/02/01,2020/02/01,VIRGIN ACT4005787858 172025,475,None,None,None,None
28,2020/02/01,2020/02/01,RENT-OUT,5000,None,None,None,None
29,2020/02/01,2020/02/01,LEVYS,2000,None,None,None,None
...,...,...,...,...,...,...,...,...
913,23/01/2020,23/01/2020,*Banking App Prepaid Purchase CELLC,40,None,None,None,None
914,23/01/2020,23/01/2020,Banking App Transfer from Authors Network,None,200,None,None,None
915,23/01/2020,23/01/2020,ATM Cash Withdrawal Fnb Ssc Atm (Card 3506),150,None,None,None,None
916,23/01/2020,23/01/2020,*Cash Withdrawal Fee (ATM),8,None,None,None,None
917,23/01/2020,23/01/2020,*SMS Notification Fee,1.2,None,None,None,None
918,23/01/2020,24/01/2020,Flm Rennie House Eater Braamfontein (Card 3506),17.08,None,None,None,None
919,23/01/2020,24/01/2020,Flm Rennie House Eater Braamfontein (Card 3506),68.24,None,None,None,None
920,23/01/2020,24/01/2020,Flm Rennie House Eater Braamfontein (Card 3506),19.99,None,None,None,None
921,25/01/2020,25/01/2020,Banking App Transfer from Authors Network,None,300,None,None,None
922,25/01/2020,25/01/2020,ATM Cash Withdrawal Fnb Ssc Atm (Card 3506),300,None,None,None,None
923,25/01/2020,25/01/2020,*Cash Withdrawal Fee (ATM),8,None,None,None,None
924,25/01/2020,25/01/2020,*SMS Notification Fee,1.2,None,None,None,None
925,27/01/2020,27/01/2020,ATM Cash Deposit: Cash Dep Dnr Vryburg D,None,500,None,None,None
926,27/01/2020,27/01/2020,*Cash Deposit Fee (Notes),5,None,None,None,None
927,27/01/2020,27/01/2020,ATM Cash Withdrawal Jnb Braamfontein,480,None,None,None,None
928,27/01/2020,27/01/2020,*ATM Cash Withdrawal Fee,6,None,None,None,None
929,27/01/2020,27/01/2020,*SMS Notification Fee,0.8,None,None,None,None
930,28/01/2020,28/01/2020,Payment Received: Explore Software Transfer,None,4 950.00,None,None,None
931,28/01/2020,28/01/2020,*SMS Notification Fee,0.4,None,None,None,None
932,29/01/2020,29/01/2020,ATM Cash Withdrawal Jhb The Glen (Card,800,None,None,None,None
933,None,2020-02-09,AIRTIME DEBIT,29,None,None,None,None
934,None,2020-02-05,NOTIFIC FEE SMS,0,None,None,None,None
935,None,2020-02-04,OVERSEAS PURCHASE,300,None,None,None,None
936,None,2020-02-03,ATM WITHDRAWAL JORRISEN,50,None,None,None,None
937,None,2020-02-02,IBANK PAYMENT FROM PB REWARDS ABSA BANK,6,None,None,None,None
938,None,2020-02-02,IBANK PAYMENT,200,None,None,None,None
939,None,2020-02-02,POS PURCHASE BP Filling Sta,81.6,None,None,None,None
940,None,2020-02-02,POS PURCHASE BP Filling Sta,28,None,None,None,None
941,None,2020-02-01,ACB DEBIT:EXTERNAL VIRGIN ACT,297.5,None,None,None,None
942,None,2020-02-01,MANAGEMENT FEE,29,None,None,None,None

In [12]:
y_unique = y.value_counts()
y_unique = pd.DataFrame(y_unique)
y_unique = y_unique.reset_index(drop=False)
y_unique.drop(['Category'], axis=1, inplace=True) 
y_unique['y_id'] = y_unique.index

y_unique

                      index  y_id
0                 TRANSPORT     0
1                      FEES     1
2   ENTERTAINMENT & EAT OUT     2
3             COMMUNICATION     3
4                      FOOD     4
5                      HOME     5
6         SHORT-TERM CREDIT     6
7                     OTHER     7
8           LIFE AND HEALTH     8
9     SAVING AND INVESTMENT     9
10        GIFTS & DONATIONS    10
11                EDUCATION    11
12                     Fees    12
13                    other    13
14                     Home    14
15                 Interest    15
16      GIFTS AND DONATIONS    16
17                   INCOME    17

In [14]:
y =  pd.DataFrame(y)
y.head(20)

                   Category
0             COMMUNICATION
1   ENTERTAINMENT & EAT OUT
2                      HOME
3   ENTERTAINMENT & EAT OUT
4   ENTERTAINMENT & EAT OUT
5   ENTERTAINMENT & EAT OUT
6   ENTERTAINMENT & EAT OUT
7   ENTERTAINMENT & EAT OUT
8   ENTERTAINMENT & EAT OUT
9   ENTERTAINMENT & EAT OUT
10    SAVING AND INVESTMENT
11  ENTERTAINMENT & EAT OUT
12  ENTERTAINMENT & EAT OUT
13  ENTERTAINMENT & EAT OUT
14    SAVING AND INVESTMENT
15  ENTERTAINMENT & EAT OUT
16  ENTERTAINMENT & EAT OUT
17  ENTERTAINMENT & EAT OUT
18  ENTERTAINMENT & EAT OUT
19                    OTHER

In [15]:
mapping = dict(y_unique[['index', 'y_id']].values)
y['Item_ID'] = y.Category.map(mapping)
y.head(20)

                   Category  Item_ID
0             COMMUNICATION        3
1   ENTERTAINMENT & EAT OUT        2
2                      HOME        5
3   ENTERTAINMENT & EAT OUT        2
4   ENTERTAINMENT & EAT OUT        2
5   ENTERTAINMENT & EAT OUT        2
6   ENTERTAINMENT & EAT OUT        2
7   ENTERTAINMENT & EAT OUT        2
8   ENTERTAINMENT & EAT OUT        2
9   ENTERTAINMENT & EAT OUT        2
10    SAVING AND INVESTMENT        9
11  ENTERTAINMENT & EAT OUT        2
12  ENTERTAINMENT & EAT OUT        2
13  ENTERTAINMENT & EAT OUT        2
14    SAVING AND INVESTMENT        9
15  ENTERTAINMENT & EAT OUT        2
16  ENTERTAINMENT & EAT OUT        2
17  ENTERTAINMENT & EAT OUT        2
18  ENTERTAINMENT & EAT OUT        2
19                    OTHER        7

In [16]:
y.drop(['Category'], axis=1, inplace=True)
y.head(20)

    Item_ID
0         3
1         2
2         5
3         2
4         2
5         2
6         2
7         2
8         2
9         2
10        9
11        2
12        2
13        2
14        9
15        2
16        2
17        2
18        2
19        7

In [17]:
y.tail()

     Item_ID
938       16
939        0
940        0
941        8
942        1

### Removing noise

In [20]:
# import libraries
import string
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords

# create stop words and lemmatizer instances
stop_words = set(stopwords.words('english')) 
lemmatizer = WordNetLemmatizer()

# create function to clean text
def clean_text(text):
    text = text.lower()
    text = ''.join([word for word in text if word not in string.punctuation])
    text = [lemmatizer.lemmatize(word) for word in text.split(' ')]
    text = [word for word in text if not word in stop_words]
    text = ' '.join(text)
    return text

new_features = df['Description'].apply(lambda x: clean_text(x))

new_features

0                                    mtn data bundle
1                               applecombill cork ie
2                 parkhurst hardware    parkhurst za
3              seattle rennies house johannesburg za
4             flm rennie house eater braamfontein za
5             flm rennie house eater braamfontein za
6             flm rennie house eater braamfontein za
7             flm rennie house eater braamfontein za
8              seattle rennies house johannesburg za
9             flm rennie house eater braamfontein za
10                          property24 rondebosch za
11             seattle rennies house johannesburg za
12            flm rennie house eater braamfontein za
13            flm rennie house eater braamfontein za
14                     investecpb 346967001 04798806
15                         applecombill itunescom ie
16                 bloom coffee studio  cape town za
17             seattle rennies house johannesburg za
18            flm rennie house eater braamfontein za
19                                           6728726
20                     investecpb 346582001 04772632
21                                admed 2131444admed
22                        taxassist 92656895 netcash
23             seattle rennies house johannesburg za
24            flm rennie house eater braamfontein za
25            flm rennie house eater braamfontein za
26                  bolton rd collection parkview za
27                       virgin act4005787858 172025
28                                           rentout
29                                              levy
                           ...
913               banking app prepaid purchase cellc
914              banking app transfer author network
915        atm cash withdrawal fnb ssc atm card 3506
916                          cash withdrawal fee atm
917                              sm notification fee
918    flm rennie house eater braamfontein card 3506
919    flm rennie house eater braamfontein card 3506
920    flm rennie house eater braamfontein card 3506
921              banking app transfer author network
922        atm cash withdrawal fnb ssc atm card 3506
923                          cash withdrawal fee atm
924                              sm notification fee
925            atm cash deposit cash dep dnr vryburg
926                            cash deposit fee note
927             atm cash withdrawal jnb braamfontein
928                          atm cash withdrawal fee
929                              sm notification fee
930       payment received explore software transfer
931                              sm notification fee
932                atm cash withdrawal jhb glen card
933                      airtime debit
934                                notific fee sm
935                   overseas purchase
936                    atm withdrawal      jorrisen
937              ibank payment  pb reward absa bank
938                                   ibank payment
939         po purchase               bp filling sta
940     po purchase                   bp filling sta
941           acb debitexternal           virgin act
942                                   management fee
Name: Description, Length: 943, dtype: object

In [21]:
X

,Transaction_Date,Posting_Date,Description,Debits,Credits,Column_7,CATEGORIES,Column_9
0,2020/02/10,2020/02/10,MTN DATA BUNDLES,499,None,None,HOME,None
1,2020/02/08,2020/02/09,APPLE.COM/BILL CORK IE,74.99,None,None,FOOD,None
2,2020/02/07,2020/02/09,PARKHURST HARDWARE RE PARKHURST ZA,75,None,None,TRANSPORT,None
3,2020/02/07,2020/02/08,SEATTLE RENNIES HOUSE JOHANNESBURG ZA,31.5,None,None,LIFE AND HEALTH,None
4,2020/02/07,2020/02/08,FLM RENNIE HOUSE EATER BRAAMFONTEIN ZA,29.98,None,None,COMMUNICATION,None
5,2020/02/06,2020/02/07,FLM RENNIE HOUSE EATER BRAAMFONTEIN ZA,340.25,None,None,ENTERTAINMENT & EAT OUT,None
6,2020/02/06,2020/02/07,FLM RENNIE HOUSE EATER BRAAMFONTEIN ZA,69.99,None,None,SHORT-TERM CREDIT,None
7,2020/02/06,2020/02/07,FLM RENNIE HOUSE EATER BRAAMFONTEIN ZA,31.97,None,None,EDUCATION,None
8,2020/02/05,2020/02/06,SEATTLE RENNIES HOUSE JOHANNESBURG ZA,31.5,None,None,GIFTS & DONATIONS,None
9,2020/02/05,2020/02/06,FLM RENNIE HOUSE EATER BRAAMFONTEIN ZA,34.9,None,None,SAVING AND INVESTMENT,None
10,2020/02/01,2020/02/06,PROPERTY24 RONDEBOSCH ZA,395,None,None,OTHER,None
11,2020/02/04,2020/02/05,SEATTLE RENNIES HOUSE JOHANNESBURG ZA,31.5,None,None,None,None
12,2020/02/04,2020/02/05,FLM RENNIE HOUSE EATER BRAAMFONTEIN ZA,44.85,None,None,None,None
13,2020/02/04,2020/02/05,FLM RENNIE HOUSE EATER BRAAMFONTEIN ZA,34.9,None,None,None,None
14,2020/02/05,2020/02/05,INVESTECPB 346967001 04798806,6150,None,None,None,None
15,2020/02/03,2020/02/04,APPLE.COM/BILL ITUNES.COM IE,319.99,None,None,None,None
16,2020/02/01,2020/02/04,BLOOM COFFEE STUDIO - CAPE TOWN ZA,110,None,None,None,None
17,2020/02/03,2020/02/04,SEATTLE RENNIES HOUSE JOHANNESBURG ZA,31.5,None,None,None,None
18,2020/02/03,2020/02/04,FLM RENNIE HOUSE EATER BRAAMFONTEIN ZA,84.99,None,None,None,None
19,2020/02/03,2020/02/03,6728726,None,6500,None,None,None
20,2020/02/03,2020/02/03,INVESTECPB 346582001 04772632,866.02,None,None,None,None
21,2020/02/03,2020/02/03,ADMED 2131444ADMED,224,None,None,None,None
22,2020/02/03,2020/02/03,TAXASSIST 92656895 NETCASH,170,None,None,None,None
23,2020/01/31,2020/02/01,SEATTLE RENNIES HOUSE JOHANNESBURG ZA,31.5,None,None,None,None
24,2020/01/31,2020/02/01,FLM RENNIE HOUSE EATER BRAAMFONTEIN ZA,34.9,None,None,None,None
25,2020/01/31,2020/02/01,FLM RENNIE HOUSE EATER BRAAMFONTEIN ZA,59.8,None,None,None,None
26,2020/01/30,2020/02/01,BOLTON RD COLLECTION PARKVIEW ZA,120,None,None,None,None
27,2020/02/01,2020/02/01,VIRGIN ACT4005787858 172025,475,None,None,None,None
28,2020/02/01,2020/02/01,RENT-OUT,5000,None,None,None,None
29,2020/02/01,2020/02/01,LEVYS,2000,None,None,None,None
...,...,...,...,...,...,...,...,...
913,23/01/2020,23/01/2020,*Banking App Prepaid Purchase CELLC,40,None,None,None,None
914,23/01/2020,23/01/2020,Banking App Transfer from Authors Network,None,200,None,None,None
915,23/01/2020,23/01/2020,ATM Cash Withdrawal Fnb Ssc Atm (Card 3506),150,None,None,None,None
916,23/01/2020,23/01/2020,*Cash Withdrawal Fee (ATM),8,None,None,None,None
917,23/01/2020,23/01/2020,*SMS Notification Fee,1.2,None,None,None,None
918,23/01/2020,24/01/2020,Flm Rennie House Eater Braamfontein (Card 3506),17.08,None,None,None,None
919,23/01/2020,24/01/2020,Flm Rennie House Eater Braamfontein (Card 3506),68.24,None,None,None,None
920,23/01/2020,24/01/2020,Flm Rennie House Eater Braamfontein (Card 3506),19.99,None,None,None,None
921,25/01/2020,25/01/2020,Banking App Transfer from Authors Network,None,300,None,None,None
922,25/01/2020,25/01/2020,ATM Cash Withdrawal Fnb Ssc Atm (Card 3506),300,None,None,None,None
923,25/01/2020,25/01/2020,*Cash Withdrawal Fee (ATM),8,None,None,None,None
924,25/01/2020,25/01/2020,*SMS Notification Fee,1.2,None,None,None,None
925,27/01/2020,27/01/2020,ATM Cash Deposit: Cash Dep Dnr Vryburg D,None,500,None,None,None
926,27/01/2020,27/01/2020,*Cash Deposit Fee (Notes),5,None,None,None,None
927,27/01/2020,27/01/2020,ATM Cash Withdrawal Jnb Braamfontein,480,None,None,None,None
928,27/01/2020,27/01/2020,*ATM Cash Withdrawal Fee,6,None,None,None,None
929,27/01/2020,27/01/2020,*SMS Notification Fee,0.8,None,None,None,None
930,28/01/2020,28/01/2020,Payment Received: Explore Software Transfer,None,4 950.00,None,None,None
931,28/01/2020,28/01/2020,*SMS Notification Fee,0.4,None,None,None,None
932,29/01/2020,29/01/2020,ATM Cash Withdrawal Jhb The Glen (Card,800,None,None,None,None
933,None,2020-02-09,AIRTIME DEBIT,29,None,None,None,None
934,None,2020-02-05,NOTIFIC FEE SMS,0,None,None,None,None
935,None,2020-02-04,OVERSEAS PURCHASE,300,None,None,None,None
936,None,2020-02-03,ATM WITHDRAWAL JORRISEN,50,None,None,None,None
937,None,2020-02-02,IBANK PAYMENT FROM PB REWARDS ABSA BANK,6,None,None,None,None
938,None,2020-02-02,IBANK PAYMENT,200,None,None,None,None
939,None,2020-02-02,POS PURCHASE BP Filling Sta,81.6,None,None,None,None
940,None,2020-02-02,POS PURCHASE BP Filling Sta,28,None,None,None,None
941,None,2020-02-01,ACB DEBIT:EXTERNAL VIRGIN ACT,297.5,None,None,None,None
942,None,2020-02-01,MANAGEMENT FEE,29,None,None,None,None

In [22]:
df['Description'] = df['Description'].str.lower()

In [23]:
y_unique

                      index  y_id
0                 TRANSPORT     0
1                      FEES     1
2   ENTERTAINMENT & EAT OUT     2
3             COMMUNICATION     3
4                      FOOD     4
5                      HOME     5
6         SHORT-TERM CREDIT     6
7                     OTHER     7
8           LIFE AND HEALTH     8
9     SAVING AND INVESTMENT     9
10        GIFTS & DONATIONS    10
11                EDUCATION    11
12                     Fees    12
13                    other    13
14                     Home    14
15                 Interest    15
16      GIFTS AND DONATIONS    16
17                   INCOME    17

In [24]:
y_unique_dict = y_unique.to_dict()['index']
y_unique_dict

{0: 'TRANSPORT',
 1: 'FEES',
 2: 'ENTERTAINMENT & EAT OUT',
 3: 'COMMUNICATION',
 4: 'FOOD',
 5: 'HOME',
 6: 'SHORT-TERM CREDIT',
 7: 'OTHER',
 8: 'LIFE AND HEALTH',
 9: 'SAVING AND INVESTMENT',
 10: 'GIFTS & DONATIONS',
 11: 'EDUCATION',
 12: 'Fees',
 13: 'other',
 14: 'Home',
 15: 'Interest',
 16: 'GIFTS AND DONATIONS',
 17: 'INCOME'}

In [144]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report
knn = KNeighborsClassifier()

In [28]:
import math

category_dict = {}

for key in y_unique_dict: 
    code = int(key)
    category = y_unique_dict[key]
    category_dict[category] = code

df.iloc[891]

Transaction_Date                                           2020/02/02
Posting_Date                                               2020/02/02
Description         pos purchase- woolworths campus squarjohannesb...
Debits                                                           -800
Credits                                                          None
Category                                                         Home
Column_7                                                         None
CATEGORIES                                                       None
Column_9                                                         None
Name: 891, dtype: object

In [29]:
df['b_Category']  = df['Category'].map(category_dict)

df.head(20)

,Transaction_Date,Posting_Date,Description,Debits,Credits,Category,Column_7,CATEGORIES,Column_9,b_Category
0,2020/02/10,2020/02/10,mtn data bundles,499,None,COMMUNICATION,None,HOME,None,3
1,2020/02/08,2020/02/09,apple.com/bill cork ie,74.99,None,ENTERTAINMENT & EAT OUT,None,FOOD,None,2
2,2020/02/07,2020/02/09,parkhurst hardware re parkhurst za,75,None,HOME,None,TRANSPORT,None,5
3,2020/02/07,2020/02/08,seattle rennies house johannesburg za,31.5,None,ENTERTAINMENT & EAT OUT,None,LIFE AND HEALTH,None,2
4,2020/02/07,2020/02/08,flm rennie house eater braamfontein za,29.98,None,ENTERTAINMENT & EAT OUT,None,COMMUNICATION,None,2
5,2020/02/06,2020/02/07,flm rennie house eater braamfontein za,340.25,None,ENTERTAINMENT & EAT OUT,None,ENTERTAINMENT & EAT OUT,None,2
6,2020/02/06,2020/02/07,flm rennie house eater braamfontein za,69.99,None,ENTERTAINMENT & EAT OUT,None,SHORT-TERM CREDIT,None,2
7,2020/02/06,2020/02/07,flm rennie house eater braamfontein za,31.97,None,ENTERTAINMENT & EAT OUT,None,EDUCATION,None,2
8,2020/02/05,2020/02/06,seattle rennies house johannesburg za,31.5,None,ENTERTAINMENT & EAT OUT,None,GIFTS & DONATIONS,None,2
9,2020/02/05,2020/02/06,flm rennie house eater braamfontein za,34.9,None,ENTERTAINMENT & EAT OUT,None,SAVING AND INVESTMENT,None,2
10,2020/02/01,2020/02/06,property24 rondebosch za,395,None,SAVING AND INVESTMENT,None,OTHER,None,9
11,2020/02/04,2020/02/05,seattle rennies house johannesburg za,31.5,None,ENTERTAINMENT & EAT OUT,None,None,None,2
12,2020/02/04,2020/02/05,flm rennie house eater braamfontein za,44.85,None,ENTERTAINMENT & EAT OUT,None,None,None,2
13,2020/02/04,2020/02/05,flm rennie house eater braamfontein za,34.9,None,ENTERTAINMENT & EAT OUT,None,None,None,2
14,2020/02/05,2020/02/05,investecpb 346967001 04798806,6150,None,SAVING AND INVESTMENT,None,None,None,9
15,2020/02/03,2020/02/04,apple.com/bill itunes.com ie,319.99,None,ENTERTAINMENT & EAT OUT,None,None,None,2
16,2020/02/01,2020/02/04,bloom coffee studio - cape town za,110,None,ENTERTAINMENT & EAT OUT,None,None,None,2
17,2020/02/03,2020/02/04,seattle rennies house johannesburg za,31.5,None,ENTERTAINMENT & EAT OUT,None,None,None,2
18,2020/02/03,2020/02/04,flm rennie house eater braamfontein za,84.99,None,ENTERTAINMENT & EAT OUT,None,None,None,2
19,2020/02/03,2020/02/03,6728726,None,6500,OTHER,None,None,None,7

In [30]:
Y = df['b_Category']
X = new_features

print(Y)
print(X)

0       3
1       2
2       5
3       2
4       2
5       2
6       2
7       2
8       2
9       2
10      9
11      2
12      2
13      2
14      9
15      2
16      2
17      2
18      2
19      7
20      9
21      8
22      7
23      2
24      2
25      2
26      2
27      8
28      9
29      9
       ..
913     3
914     6
915     1
916     1
917     1
918     2
919     2
920     2
921     6
922     7
923     1
924     1
925     7
926     1
927     1
928     1
929     1
930    17
931     1
932     1
933     3
934     1
935    11
936     7
937     7
938    16
939     0
940     0
941     8
942     1
Name: b_Category, Length: 943, dtype: int64
0                                    mtn data bundle
1                               applecombill cork ie
2                 parkhurst hardware    parkhurst za
3              seattle rennies house johannesburg za
4             flm rennie house eater braamfontein za
5             flm rennie house eater braamfontein za
6             flm rennie house eater braamfontein za
7             flm rennie house eater braamfontein za
8              seattle rennies house johannesburg za
9             flm rennie house eater braamfontein za
10                          property24 rondebosch za
11             seattle rennies house johannesburg za
12            flm rennie house eater braamfontein za
13            flm rennie house eater braamfontein za
14                     investecpb 346967001 04798806
15                         applecombill itunescom ie
16                 bloom coffee studio  cape town za
17             seattle rennies house johannesburg za
18            flm rennie house eater braamfontein za
19                                           6728726
20                     investecpb 346582001 04772632
21                                admed 2131444admed
22                        taxassist 92656895 netcash
23             seattle rennies house johannesburg za
24            flm rennie house eater braamfontein za
25            flm rennie house eater braamfontein za
26                  bolton rd collection parkview za
27                       virgin act4005787858 172025
28                                           rentout
29                                              levy
                           ...
913               banking app prepaid purchase cellc
914              banking app transfer author network
915        atm cash withdrawal fnb ssc atm card 3506
916                          cash withdrawal fee atm
917                              sm notification fee
918    flm rennie house eater braamfontein card 3506
919    flm rennie house eater braamfontein card 3506
920    flm rennie house eater braamfontein card 3506
921              banking app transfer author network
922        atm cash withdrawal fnb ssc atm card 3506
923                          cash withdrawal fee atm
924                              sm notification fee
925            atm cash deposit cash dep dnr vryburg
926                            cash deposit fee note
927             atm cash withdrawal jnb braamfontein
928                          atm cash withdrawal fee
929                              sm notification fee
930       payment received explore software transfer
931                              sm notification fee
932                atm cash withdrawal jhb glen card
933                      airtime debit
934                                notific fee sm
935                   overseas purchase
936                    atm withdrawal      jorrisen
937              ibank payment  pb reward absa bank
938                                   ibank payment
939         po purchase               bp filling sta
940     po purchase                   bp filling sta
941           acb debitexternal           virgin act
942                                   management fee
Name: Description, Length: 943, dtype: object

In [31]:
X

0                                    mtn data bundle
1                               applecombill cork ie
2                 parkhurst hardware    parkhurst za
3              seattle rennies house johannesburg za
4             flm rennie house eater braamfontein za
5             flm rennie house eater braamfontein za
6             flm rennie house eater braamfontein za
7             flm rennie house eater braamfontein za
8              seattle rennies house johannesburg za
9             flm rennie house eater braamfontein za
10                          property24 rondebosch za
11             seattle rennies house johannesburg za
12            flm rennie house eater braamfontein za
13            flm rennie house eater braamfontein za
14                     investecpb 346967001 04798806
15                         applecombill itunescom ie
16                 bloom coffee studio  cape town za
17             seattle rennies house johannesburg za
18            flm rennie house eater braamfontein za
19                                           6728726
20                     investecpb 346582001 04772632
21                                admed 2131444admed
22                        taxassist 92656895 netcash
23             seattle rennies house johannesburg za
24            flm rennie house eater braamfontein za
25            flm rennie house eater braamfontein za
26                  bolton rd collection parkview za
27                       virgin act4005787858 172025
28                                           rentout
29                                              levy
                           ...
913               banking app prepaid purchase cellc
914              banking app transfer author network
915        atm cash withdrawal fnb ssc atm card 3506
916                          cash withdrawal fee atm
917                              sm notification fee
918    flm rennie house eater braamfontein card 3506
919    flm rennie house eater braamfontein card 3506
920    flm rennie house eater braamfontein card 3506
921              banking app transfer author network
922        atm cash withdrawal fnb ssc atm card 3506
923                          cash withdrawal fee atm
924                              sm notification fee
925            atm cash deposit cash dep dnr vryburg
926                            cash deposit fee note
927             atm cash withdrawal jnb braamfontein
928                          atm cash withdrawal fee
929                              sm notification fee
930       payment received explore software transfer
931                              sm notification fee
932                atm cash withdrawal jhb glen card
933                      airtime debit
934                                notific fee sm
935                   overseas purchase
936                    atm withdrawal      jorrisen
937              ibank payment  pb reward absa bank
938                                   ibank payment
939         po purchase               bp filling sta
940     po purchase                   bp filling sta
941           acb debitexternal           virgin act
942                                   management fee
Name: Description, Length: 943, dtype: object

In [37]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

In [38]:
count_vectorizer = CountVectorizer(decode_error = 'ignore')
X_vectorized = count_vectorizer.fit_transform(X)

X_vectorized

<943x724 sparse matrix of type '<class 'numpy.int64'>'
	with 3937 stored elements in Compressed Sparse Row format>

In [39]:
X_train, X_test, y_train, y_test = train_test_split(X_vectorized, Y, test_size=0.2, random_state=47)

In [41]:
knn = KNeighborsClassifier()
tree = DecisionTreeClassifier(random_state=47)

In [42]:
y_train.head(20)

519    1
253    0
543    4
756    0
291    0
124    0
35     2
236    2
358    4
119    0
778    1
505    0
438    2
440    0
490    1
828    1
551    3
727    2
313    2
174    4
Name: b_Category, dtype: int64

In [43]:
knn.fit(X_train, y_train)
tree.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=47, splitter='best')

In [44]:
pred_knn = knn.predict(X_test)
pred_tree = tree.predict(X_test)

In [45]:
pred_knn

array([ 2,  0,  9,  1,  0,  0,  2,  3,  9,  0,  2,  2,  1,  0,  1,  1,  1,
        2,  9,  6,  1,  9,  1, 10,  0,  0,  1,  2,  9,  0,  1,  3,  3,  0,
        1,  0,  1,  1,  3,  9,  0,  9,  9,  2,  0,  1,  9,  9,  1, 12,  1,
        0,  2,  9,  4,  1,  1,  9,  2,  1,  2,  1,  9,  1,  9,  6,  1,  2,
        2,  0,  1,  0,  9,  1,  1,  1,  9,  0,  1,  0,  4,  0,  0,  2,  5,
        1,  9,  1,  5,  0,  9,  2,  0,  0,  9,  1,  0,  0,  9,  0,  9,  2,
        9,  1,  1,  5,  9,  0,  9,  0,  0,  9,  0,  9,  3,  9,  9,  9,  2,
        9,  0,  9,  0,  3,  0,  3,  5,  9,  4,  1,  1,  0,  0,  2,  5,  1,
        0,  5,  2,  2,  0,  9,  0,  2,  2,  2,  5,  2,  2,  9,  3,  1,  0,
        0,  9,  1,  2,  0,  0,  0,  1,  2,  0,  1,  0,  0,  0,  6,  1,  2,
        0,  2,  1,  3,  1,  5,  1,  2,  9,  3,  9,  3,  1,  0,  3,  3,  9,
        2,  0], dtype=int64)

In [46]:
pred_tree

array([ 7,  0, 14,  1,  0,  0,  0,  3,  3,  0,  2,  2,  1,  0,  1,  1,  1,
        2,  9,  6,  1,  9,  1, 10,  0,  0,  1,  2, 13,  0,  1,  0,  3,  0,
        1,  0,  1,  1,  3,  2,  0,  0,  9,  2,  0,  1,  9, 10,  1, 12,  1,
        0,  8, 14,  4,  1,  1, 14,  8,  1,  0,  1,  9,  1,  9,  6,  1,  4,
        2,  0,  1,  0,  0,  1,  1,  1,  2,  0,  1,  0,  4,  0,  0,  2,  5,
        1,  9,  1,  5,  0,  9,  2,  0,  0,  2,  1,  2,  0,  9,  0,  9,  2,
        9,  1,  1,  5, 10,  0, 10,  0,  2,  9,  0, 14,  3,  9,  0,  9,  2,
        2,  0,  5,  2,  3,  0,  3,  8,  9,  4,  1,  1,  0,  0,  2,  5,  1,
        0,  5,  2,  2,  0,  9,  0,  5,  2,  2,  5,  2,  2,  9,  3,  1,  0,
        0,  9,  1,  2,  0,  0,  0,  1,  2,  0,  1,  0,  0,  0,  6,  1,  2,
        0,  2,  1,  4,  1,  5,  1,  2,  9,  3,  5,  3,  1,  0,  3,  3,  0,
        2,  0], dtype=int64)

In [47]:
y_unique

                      index  y_id
0                 TRANSPORT     0
1                      FEES     1
2   ENTERTAINMENT & EAT OUT     2
3             COMMUNICATION     3
4                      FOOD     4
5                      HOME     5
6         SHORT-TERM CREDIT     6
7                     OTHER     7
8           LIFE AND HEALTH     8
9     SAVING AND INVESTMENT     9
10        GIFTS & DONATIONS    10
11                EDUCATION    11
12                     Fees    12
13                    other    13
14                     Home    14
15                 Interest    15
16      GIFTS AND DONATIONS    16
17                   INCOME    17

In [48]:
df_predict_knn = pd.DataFrame({'prediction': pred_knn})
df_predict_tree = pd.DataFrame({'prediction': pred_tree})

In [49]:
df_predict_knn

     prediction
0             2
1             0
2             9
3             1
4             0
5             0
6             2
7             3
8             9
9             0
10            2
11            2
12            1
13            0
14            1
15            1
16            1
17            2
18            9
19            6
20            1
21            9
22            1
23           10
24            0
25            0
26            1
27            2
28            9
29            0
..          ...
159           0
160           1
161           2
162           0
163           1
164           0
165           0
166           0
167           6
168           1
169           2
170           0
171           2
172           1
173           3
174           1
175           5
176           1
177           2
178           9
179           3
180           9
181           3
182           1
183           0
184           3
185           3
186           9
187           2
188           0

[189 rows x 1 columns]

In [50]:
df_predict_tree

     prediction
0             7
1             0
2            14
3             1
4             0
5             0
6             0
7             3
8             3
9             0
10            2
11            2
12            1
13            0
14            1
15            1
16            1
17            2
18            9
19            6
20            1
21            9
22            1
23           10
24            0
25            0
26            1
27            2
28           13
29            0
..          ...
159           0
160           1
161           2
162           0
163           1
164           0
165           0
166           0
167           6
168           1
169           2
170           0
171           2
172           1
173           4
174           1
175           5
176           1
177           2
178           9
179           3
180           5
181           3
182           1
183           0
184           3
185           3
186           0
187           2
188           0

[189 rows x 1 columns]

In [51]:
X_test

<189x724 sparse matrix of type '<class 'numpy.int64'>'
	with 779 stored elements in Compressed Sparse Row format>

In [52]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

In [53]:
print(classification_report(y_test, pred_knn))
print(classification_report(y_test, pred_tree))

              precision    recall  f1-score   support

           0       0.96      0.84      0.90        56
           1       0.95      0.95      0.95        43
           2       0.80      0.77      0.79        31
           3       0.85      0.79      0.81        14
           4       1.00      0.33      0.50         9
           5       0.88      0.64      0.74        11
           6       1.00      0.43      0.60         7
           7       0.00      0.00      0.00         6
           8       0.00      0.00      0.00         3
           9       0.05      1.00      0.10         2
          10       1.00      0.50      0.67         2
          11       0.00      0.00      0.00         1
          12       1.00      1.00      1.00         1
          13       0.00      0.00      0.00         1
          14       0.00      0.00      0.00         1
          15       0.00      0.00      0.00         1

    accuracy                           0.74       189
   macro avg       0.53      0.45      0.44       189
weighted avg       0.85      0.74      0.77       189

              precision    recall  f1-score   support

           0       0.98      0.93      0.95        56
           1       0.95      0.95      0.95        43
           2       0.87      0.84      0.85        31
           3       1.00      0.86      0.92        14
           4       1.00      0.56      0.71         9
           5       1.00      0.91      0.95        11
           6       1.00      0.43      0.60         7
           7       1.00      0.17      0.29         6
           8       0.67      0.67      0.67         3
           9       0.11      1.00      0.19         2
          10       0.50      1.00      0.67         2
          11       0.00      0.00      0.00         1
          12       1.00      1.00      1.00         1
          13       1.00      1.00      1.00         1
          14       0.25      1.00      0.40         1
          15       0.00      0.00      0.00         1

    accuracy                           0.84       189
   macro avg       0.71      0.71      0.63       189
weighted avg       0.93      0.84      0.86       189

C:\Users\NICKCLAUS\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1437: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

In [54]:
y_unique

                      index  y_id
0                 TRANSPORT     0
1                      FEES     1
2   ENTERTAINMENT & EAT OUT     2
3             COMMUNICATION     3
4                      FOOD     4
5                      HOME     5
6         SHORT-TERM CREDIT     6
7                     OTHER     7
8           LIFE AND HEALTH     8
9     SAVING AND INVESTMENT     9
10        GIFTS & DONATIONS    10
11                EDUCATION    11
12                     Fees    12
13                    other    13
14                     Home    14
15                 Interest    15
16      GIFTS AND DONATIONS    16
17                   INCOME    17

In [55]:
mapping = dict(y_unique[['y_id','index']].values)
df_predict_knn['ItemCategory_New'] = df_predict_knn.prediction.map(mapping)
df_predict_knn

     prediction         ItemCategory_New
0             2  ENTERTAINMENT & EAT OUT
1             0                TRANSPORT
2             9    SAVING AND INVESTMENT
3             1                     FEES
4             0                TRANSPORT
5             0                TRANSPORT
6             2  ENTERTAINMENT & EAT OUT
7             3            COMMUNICATION
8             9    SAVING AND INVESTMENT
9             0                TRANSPORT
10            2  ENTERTAINMENT & EAT OUT
11            2  ENTERTAINMENT & EAT OUT
12            1                     FEES
13            0                TRANSPORT
14            1                     FEES
15            1                     FEES
16            1                     FEES
17            2  ENTERTAINMENT & EAT OUT
18            9    SAVING AND INVESTMENT
19            6        SHORT-TERM CREDIT
20            1                     FEES
21            9    SAVING AND INVESTMENT
22            1                     FEES
23           10        GIFTS & DONATIONS
24            0                TRANSPORT
25            0                TRANSPORT
26            1                     FEES
27            2  ENTERTAINMENT & EAT OUT
28            9    SAVING AND INVESTMENT
29            0                TRANSPORT
..          ...                      ...
159           0                TRANSPORT
160           1                     FEES
161           2  ENTERTAINMENT & EAT OUT
162           0                TRANSPORT
163           1                     FEES
164           0                TRANSPORT
165           0                TRANSPORT
166           0                TRANSPORT
167           6        SHORT-TERM CREDIT
168           1                     FEES
169           2  ENTERTAINMENT & EAT OUT
170           0                TRANSPORT
171           2  ENTERTAINMENT & EAT OUT
172           1                     FEES
173           3            COMMUNICATION
174           1                     FEES
175           5                     HOME
176           1                     FEES
177           2  ENTERTAINMENT & EAT OUT
178           9    SAVING AND INVESTMENT
179           3            COMMUNICATION
180           9    SAVING AND INVESTMENT
181           3            COMMUNICATION
182           1                     FEES
183           0                TRANSPORT
184           3            COMMUNICATION
185           3            COMMUNICATION
186           9    SAVING AND INVESTMENT
187           2  ENTERTAINMENT & EAT OUT
188           0                TRANSPORT

[189 rows x 2 columns]

In [56]:
mapping = dict(y_unique[['y_id','index']].values)
df_predict_tree['ItemCategory_New'] = df_predict_tree.prediction.map(mapping)
df_predict_tree

     prediction         ItemCategory_New
0             7                    OTHER
1             0                TRANSPORT
2            14                     Home
3             1                     FEES
4             0                TRANSPORT
5             0                TRANSPORT
6             0                TRANSPORT
7             3            COMMUNICATION
8             3            COMMUNICATION
9             0                TRANSPORT
10            2  ENTERTAINMENT & EAT OUT
11            2  ENTERTAINMENT & EAT OUT
12            1                     FEES
13            0                TRANSPORT
14            1                     FEES
15            1                     FEES
16            1                     FEES
17            2  ENTERTAINMENT & EAT OUT
18            9    SAVING AND INVESTMENT
19            6        SHORT-TERM CREDIT
20            1                     FEES
21            9    SAVING AND INVESTMENT
22            1                     FEES
23           10        GIFTS & DONATIONS
24            0                TRANSPORT
25            0                TRANSPORT
26            1                     FEES
27            2  ENTERTAINMENT & EAT OUT
28           13                    other
29            0                TRANSPORT
..          ...                      ...
159           0                TRANSPORT
160           1                     FEES
161           2  ENTERTAINMENT & EAT OUT
162           0                TRANSPORT
163           1                     FEES
164           0                TRANSPORT
165           0                TRANSPORT
166           0                TRANSPORT
167           6        SHORT-TERM CREDIT
168           1                     FEES
169           2  ENTERTAINMENT & EAT OUT
170           0                TRANSPORT
171           2  ENTERTAINMENT & EAT OUT
172           1                     FEES
173           4                     FOOD
174           1                     FEES
175           5                     HOME
176           1                     FEES
177           2  ENTERTAINMENT & EAT OUT
178           9    SAVING AND INVESTMENT
179           3            COMMUNICATION
180           5                     HOME
181           3            COMMUNICATION
182           1                     FEES
183           0                TRANSPORT
184           3            COMMUNICATION
185           3            COMMUNICATION
186           0                TRANSPORT
187           2  ENTERTAINMENT & EAT OUT
188           0                TRANSPORT

[189 rows x 2 columns]

In [57]:
type(X_test)

scipy.sparse.csr.csr_matrix

In [59]:
from sklearn.metrics import accuracy_score

In [65]:
print("accuracy_score: %.2f"
      % accuracy_score(y_test, pred_knn))

accuracy_score: 0.74

In [66]:
print("accuracy_score: %.2f"
      % accuracy_score(y_test, pred_tree))

accuracy_score: 0.84

### Decision tree has a better accuracy score

### SAVE IN JOBLIB

In [72]:
import joblib

In [73]:
path ="C:/Users/NICKCLAUS/Documents/dev"

joblib_file = "df_predict_tree.pkl"

joblib.dump(df_predict_tree, path + "/" + joblib_file)

['C:/Users/NICKCLAUS/Documents/dev/df_predict_tree.pkl']

In [82]:
import pickle